# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE and editor files
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/